html, body {
    height: 100%;
    overflow: auto;
}
h1 {
    background-color: blue;
    border-radius: 10px;
    height: 22px;
    margin-right: 20px;
    color: white;
    padding-left: 5px;
    transition: 0.5s;
}

h1:hover {
    color: black;
    background: whitesmoke;
}

ul li .Link {
    color: black;
    transition: 0.5s;
    text-decoration: underline;
}

ul li .Link:hover {
    border-radius: 8px;
    color: blue;
}

/*.fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}*/
.PARENT{
    position: sticky;
    top: 20px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 10px;
    padding:1px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}